body {
    background-color: black;
    color: white;
}

pre {
    color: white;
}

hr {
    border-top: 1px solid white;
    margin-right: 50px;
}

#result {
    max-height: 715px;
    width: 100%;
    overflow-y: scroll;
}

#app {
    position: absolute;
    left: 0px;
    margin-top: 1px;
    width: 100%;
}

#command-form {
    position: fixed;
    bottom: 10%;
    left: 3%;
    min-width: 95%;
    width: 95%;
}

#command {
    min-width: 95%;
    width: 95%;
}